body {
	background: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	transition ;
	background: purple;
	margin: 1.66%;
	padding-top: 30%;
	width: 30%;
	float: left;
	border-radius: 25px;
}

#container {
	max-width: 500px;
	margin: 30px auto;
}

#header {
	margin-bottom: 10px;
	text-align: center;
	margin: 0;
	background: white;
	font-size: 20px;
	height: 25px;
}

.h1 {
	line-height: 1.1;
	text-align: center;
	padding: 5px;
	color: white;
	background: rgb(10, 100, 125);
	font-size: 50px;
	margin: 0;
}

.retry {
	display: inline-table;
	width: 20%;
}

p {
	background: gray;
	width: 15%;
	padding-bottom: 10px;
}

.hard {
	background: rgb(10, 100, 125);
	color: white;	
}

span {
	text-transform: uppercase;
	height: 100%;
}

.hover {
    background: rgb(10, 100, 125);
    color: white; 
}

.easy {
	color: white;
	background: rgb(10, 100, 125)
}

.play:hover {
	color: white;
	background: rgb(10, 100, 125)
}
